/* PALLETTE */
/* 
#1a1a1a -- dark (background)
#1b1b1b - dark accent
#253b73 -- NBA blue
#b52532 -- NBA red
#f7e0e0 -- light accent
#f7f7f7 -- light (text)
*/

/* ----------------- CSS RESET ----------------- */

*, *::before, *::after {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #1a1a1a;
  color: #f7f7f7;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}

input, button, textarea, select {
  width: 100%;
  display: block;
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, li {
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: underline;
}

/* Create root stacking context */
#root, #__next {
  isolation: isolate;
}

/* ----------------- NAVBAR ----------------- */

.navbar {
  position: sticky;
}

.nav-start {
  /* border: 2px dotted yellow; */
  display: flex;
  padding: .5em 2em;
  align-items: center;
  justify-content: space-between;
  font-size: 1.35em;
  background-color: #2f2f2f;
}

.nav-logo {
  height: 75px;
  width: 125px;
}

.nav-logo {
  animation: none;
}

.nav-logo:hover {
  animation: bounce ease 1s infinite;
}

.navbar-nav {
  /* border: 2px dotted purple; */
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.nav-link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease .5s;
}

.nav-link:hover {
  color: #f7e0e0;
  border-bottom: 1px solid #f7e0e0;
  transition: all ease .2s;
}

/* ----------------- HOMEPAGE ----------------- */

.home {
  text-align: center;
}

.home-header {
  padding: 1.5em;
  margin-bottom: -1.5em;
}

#home-header-underline {
  width: 0%;
  margin: auto;
  border: 1px solid transparent;
  transition: all ease .5s;
}

.home-header-container:hover #home-header-underline {
  width: 75%;
  border: 1px solid #b52532;
  transition: all ease .5s;
}

#logo {
  padding: 2em;
  margin: auto;
  height: 300px;
  width: 500px;
}

#logo:hover {
  animation: bounce ease 1s infinite;
}

.home-grid {
  margin-top: 2em;
  padding: 3em;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px; 
  column-gap: 1em;
  row-gap: 1em;
  gap: 2em;
}

.home-card {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1.5em;
  line-height: 2;
  border-radius: 15px;
  background-color: #253b73;
  box-shadow: none;
  transition: all ease .2s;
}

.home-card:hover {
  box-shadow: 0 0 6px #FFF;
}

.home-card:hover .home-card-hd {
  text-decoration: underline;
  transition: all ease .5s;
}

.home-card-hd {
  transition: all ease .5s;
  text-decoration: none;
  padding-bottom: 1em;
  font-size: 1.5em;
}

.home-hidden {
  margin-top: -1.5em;
  margin-bottom: .5em;
  padding: 3em;
  color: transparent;
  transition: all ease 1s;
}

.home-hidden:hover {
  color: white;
  transition: all ease 1s;
}

/* ----------------- TEAMS ----------------- */

#teams-header {
  padding: .5em;
  margin-bottom: -.5em;
  text-align: center;
}

#teams-table {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

tr:nth-child(even) {
  background-color: #2f2f2f;
}

tr {
  transition: all ease .5s;
}

tr:hover {
  transition: all ease .75s;
  background-color: grey;
}

tr:hover .table-head-header {
  background-color: transparent;
}

.table-head {
  /* border: 1px solid yellow; */
  border-left: transparent;
  align-items: center;
}

.table-head-header {
  font-size: 1.5em;
  /* border-left: 1px solid magenta; */
  width: 200px;
}

td {
  font-size: 1.25em;
  /* border: 1px solid #2f2f2f; */
  padding: .5em;
  width: 200px;
  text-align: center;
}

.table-button {
  text-decoration: none;
  transition: all ease .5s;
}

.table-button:hover {
  text-decoration: underline;
  transition: all ease .75s;
}

/* ----------------- ANIMATIONS ----------------- */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}